# Global code owners
*       @Conxian/conxian-admin

# GitHub Workflows & Deployment
/.github/workflows/ @Conxian/conxian-admin

# Site assets and pages
/css/ @Conxian/conxian-admin
/fonts/ @Conxian/conxian-admin
/index.html @Conxian/conxian-admin
/404.html @Conxian/conxian-admin
